@import "../styles/style.scss";
body {
  font-family: "congenial" !important;
  
}
.offcanvas {
  background-color: $primary !important;
  color: $white !important;
}
.footer {
  font-family: "congenial-light";
}
.bground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 4, 0.534)),
    url("../images/shutterstock_1821002357_Easy-Resize.com.jpg");
  height: 500px;
  background-size: cover;
}

h1 {
  font-family: "congenial";
  font-weight: 700 !important;
  font-stretch: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}
.slong {
  max-width: 800px;
  font-family: "congenial";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

a {
  text-decoration: none !important;
}

.booking-form {
  max-width: 350px;
}

.gsts-input {
  max-width: 330px;
}

.vnu-desc {
  max-width: 600px;
}

.img-style {
  max-width: 700px;
}

.personal-img {
  max-width: 150px !important;
}



.dropdown-toggle::after {
  display: none !important;
}

p , .f-elza{
  font-family: "elza-text";
}

.bkng-img {
  max-width: 350px;
  max-height: 250px;
  overflow: hidden;
}

.bkng-img img {
  object-fit: cover;
}

.dash {
  height: 100vh;
}


.bi-person-fill {
  color: $primary;
}
.bi-star-fill {
  color: $warning;
}

.venueForm {
  max-width: 600px;
}



.transparent-toggle {
  background-color: transparent !important;
  border: none !important;
}



.profile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 4, 0.534)),
    url("../images/shutterstock_1821002357_Easy-Resize.com.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
}

.menuDots:hover {
  
    background-color: $white ;

}

.dropdown-menu  .show {
    position: absolute !important;
    bottom: 45% !important;
    right: 1% !important;
}

/* Styles for screens between 300pxpx and 1000px */
@media  (min-width: 300px) and (max-width: 1000px) {
  /* CSS rules here will be applied only when the screen width is between 601px and 900px */
  .bground {
    height: 300px;
    background-position: right top;
  }
}


/* Styles for screens between 300pxpx and 1000px */
@media  (min-width: 300px) and (max-width: 700px) {
  /* CSS rules here will be applied only when the screen width is between 601px and 900px */
 .b-card {
  width: "150px";
  height: "100px";
 }
}